@model IEnumerable<Panchayat.Models.RaiseFund>

@{
    ViewData["Title"] = "Index";
}

<h3 class="mt-5 mb-3 text-center"><span class="text-light p-2 bg-success shadow rounded-3">Donations</span></h3>
<div class="row ">

    <table class="styled-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)<span> &#8377;</span>
                    </td>
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.Status)...
                    </td>
                    @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
<button style="width:120px" class="btn btn-secondary shadow"><a class="text-decoration-none text-light" asp-controller="PanchayatActivities" asp-action="AdminPage">Back</a></button>

</div>
